html, body {
  width: 250px;
}

.hidden {
  display: none;
}

.button {
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  border: 1px solid black;
  width: 50%;
  margin: auto;
}

.button:hover {
  background-color: #aef3f3;
}